@model Query.Contract.Site.Page.PageUiQueryModel
@section Seo {
    <partial name="_Seo" model="Model.Seo" />
}
<section class="inner-page" id="contact-page">
    <partial name="_BreadCrumb" model="@Model.breadCrumbs" />
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="row">
                        <div class="col-12 col-lg-7">
                            <div class="title">@Model.Title</div>
                            @Html.Raw(@Model.Description)
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>