@page 
@model NavinoShop.WebApplication.Areas.Admin.Pages.Post.State.CreateModel
@{
    Layout = "_AdminLayout";
    ViewData["title"] = "افزودن استان جدید ";
}
<div class="Formcontainer">

    <form id="Formcontainer" method="post" enctype="multipart/form-data">


        <div class="col col-12 col-sm-12 ">

            <div class="custom-form-group">
                <label for="title" class="required">نام استان</label>
                <input asp-for="@Model.CreateState.Title" type="text" id="Title">
                <span asp-validation-for="CreateState.Title" class="text-danger"></span>
            </div>
        </div>
     

        <button type="submit" class="btn btn-success btn-block">افزودن </button>

    </form>
</div>
