@using Shared.Application
@using Shop.Application.Contract.Seller.Command
@model EditRequestForSelasCommandModel
@{
    Layout = "_PanelLayout";
    var errorMessage = TempData["error"] as string;
}

<div class="Formcontainer">

    <form method="post" enctype="multipart/form-data">

        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ImageName" />
        <input type="hidden" asp-for="LicenseImageName" />
        <input type="hidden" asp-for="CoverImageName" />
        <input type="hidden" asp-for="StateId" />
        <input type="hidden" asp-for="CityId" />
        <div class="col">
            <div class="custom-form-group">
                <label for="Slug">نام فروشگاه به لاتین </label>
                <input asp-for="Slug" type="text" id="Slug">
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
        </div>
        <div class="row">

            <div class="col">
                <div class="custom-form-group">
                    <label for="WhatsApp">نام فروشگاه </label>
                    <input asp-for="Title" type="text" id="title">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="custom-form-group">
                    <label for="Instagram">لینک اینستاگرام </label>
                    <input dir="ltr" asp-for="Instagram" type="text" id="Instagram">
                    <span asp-validation-for="Instagram" class="text-danger"></span>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col">
                <div class="custom-form-group">
                    <label for="Telegram">لینک تلگرام</label>
                    <input dir="ltr" asp-for="Telegram" type="text" id="Telegram">
                    <span asp-validation-for="Telegram" class="text-danger"></span>
                </div>
            </div>

            <div class="col">
                <div class="custom-form-group">
                    <label for="WhatsApp">  لینک واتس آپ </label>
                    <input dir="ltr" asp-for="WhatsApp" type="tel" id="WhatsApp">
                    <span asp-validation-for="WhatsApp" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col">
                <div class="custom-form-group">
                    <label for="tel1">شماره تماس 1</label>
                    <input dir="ltr" asp-for="Phone1" type="tel" id="tel1">
                    <span asp-validation-for="Phone1" class="text-danger"></span>
                </div>
            </div>

            <div class="col">
                <div class="custom-form-group">
                    <label for="tel2">شماره تماس 2 </label>
                    <input dir="ltr" asp-for="Phone2" type="tel" id="tel2">
                    <span asp-validation-for="Phone2" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col col-md-6 col-sm-12 col-12">
                <div class="image-uploader">
                    <label>
                        تصویر فروشگاه
                        <div class="picture-uploader"
                             data-url="@FileDirectories.SellerImageDirectory500@Model.ImageName">

                            <div class="picture__image">یک تصویر انتخاب کنید</div>

                            <input asp-for="ImageFile"
                                   type="file"
                                   class="picture__input myinput"
                                   accept="image/*" />
                        </div>
                    </label>
                </div>

                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="col col-md-6 col-sm-12 col-12">
                <div class="image-uploader">
                    <label>
                        تصویر مجوز
                        <div class="picture-uploader"
                             data-url="@FileDirectories.SellerImageDirectory500@Model.LicenseImageName">

                            <div class="picture__image">یک تصویر انتخاب کنید</div>

                            <input asp-for="LicenseImage"
                                   type="file"
                                   class="picture__input"
                                   accept="image/*" />
                        </div>
                    </label>
                </div>

                <span asp-validation-for="LicenseImage" class="text-danger"></span>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="custom-form-group">
                    <label for="LogoAlt"> Alt تصویر فروشگاه   </label>
                    <input asp-for="ImageAlt" type="text" id="LogoAlt">
                </div>
            </div>


            <div class="col">
                <div class="custom-form-group">
                    <label for="Email">ایمیل</label>
                    <input dir="ltr" asp-for="Email" type="text" id="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="custom-form-group">
                  
                    <label for="province">استان مبدا( <small> فقط در صورت نیاز به تغییر انتخاب کنید</small>)</label>
                    <select asp-for="StateId" id="province" >
                    </select>
                    <span asp-validation-for="StateId" class="text-danger"></span>
                </div>
            </div>

            <div class="col">
                <div class="custom-form-group">
                    <label for="city">شهر مبدا:</label>
                    <select asp-for="CityId" id="city"  disabled>
                        <option value="">ابتدا استان را انتخاب کنید</option>
                    </select>
                    <span asp-validation-for="CityId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
      

            <div class="col col-md-6 col-sm-12 col-12">
                <div class="image-uploader">
                    <label>
                        تصویر کاور
                        <div class="picture-uploader"
                             data-url="@FileDirectories.SellerImageDirectory500@Model.CoverImageName">

                            <div class="picture__image">یک تصویر انتخاب کنید</div>

                            <input asp-for="CoverImage"
                                   type="file"
                                   class="picture__input"
                                   accept="image/*" />
                        </div>
                    </label>
                </div>

                <span asp-validation-for="LicenseImage" class="text-danger"></span>
            </div>
            <div class="col">
                <div class="custom-form-group">
                    <label for="Address">جزییات آدرس</label>
                    <textarea asp-for="Address" id="Address"></textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="custom-form-group">
                <label for="GoogleMapUrl">لینک نقشه مپ </label>
                <input dir="ltr" asp-for="GoogleMapUrl" type="text" id="GoogleMapUrl">
                <span asp-validation-for="GoogleMapUrl" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-success btn-block w-100">ثبت</button>

    </form>
</div>

@section scripts {

    @if (!string .IsNullOrEmpty(errorMessage))
{
        <script>
            AlerSweetWithTimer("@errorMessage ","error", "center");
        </script>
}
    <script>

        $(document).ready(function () {
            $(".picture-uploader").imageUploader();
        });

    </script>
}