@model List<Site.Application.Contract.SliderService.Query.SliderForUiQueryModel>
@{
    var isFirst = true;
}
@if (Model.Count >= 1)
{

        @foreach (var item in Model)
        {
            <div class="carousel-item @(isFirst ? "active" : "")">
                <img src="@item.ImageName" class="d-block w-100" alt="@item.ImageAlt">
            </div>
            isFirst = false;
        }
    


}