<section class="pt-4 pb-3" id="footer">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("FooterLinks")

            @await Component.InvokeAsync("FooterDescription")
        </div>
    </div>
</section>