@using Shared.Application
@using Shared.Application.Auth
@inject IAuthService _authService;
<section id="header">

    <!-- Search NavBar -->
    <div id="encode43254bvfb">
        <div class="container pt-1">
            <div class="row py-3 align-content-center">

                <div class="col-12 col-md-3 col-xl-2 text-center text-md-start pb-2" id="encode4326523bvfb">
                    @await Component.InvokeAsync("LogoHeader")
                </div>

                <div class="col-12 col-md-5 col-xl-6">
                    <div id="search-bar">
                        <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg><!-- <i class="fa fa-search"></i> Font Awesome fontawesome.com -->
                        <input type="text" placeholder="جستجو کنید...">
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="row">

                        <div class="col-12 col-md-5 col-lg-6">
                            <a href="cart.html">
                                <div class="btn btn-warning w-100"><i class="fa fa-shopping-cart"></i>&nbsp;<span class="d-md-none d-lg-inline-block">سبد خرید</span> (2)</div>
                            </a>
                        </div>
                        <div class="col-12 col-md-7 col-lg-6 text-center " id="btn-login-register">
                            @if (!_authService.IsUserLogin())
                            {
                                <div id="authBtn">
                                    <a href="/Account/login">ورود/</a>
                                    <a href="/Account/register">عضویت</a>
                                </div>
                            }
                            else
                            {
                                <div class="user-menu">
                                    <span>
                                        <img src="@((FileDirectories.UserImageDirectory100) + (_authService.GetLoginUserAvatar()))" alt="User Avatar" class="user-avatar p-1" id="avatarBtn" />
                                        @_authService.GetLoginUserFullName()
                                    </span>
                                    <div class="Authdropdown-menu" id="userDropdown">
                                        <div></div>
                                        <br />
                                        <span><a href="/UserPanel/Profile">@_authService.GetLoginUserMobile()</a></span>
                                        <hr />

                                        <a href="/Admin">پنل ادمین</a>
                                        <a href="/Account/Logout">خروج</a>
                                    </div>
                                </div>



                            }
                            <!-- HTML -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Search NavBar -->
    <!-- Main NavBar -->
    <div id="main-nav">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="droopmenu-navbar dmarrow-down droopmenu-horizontal dmpos-top dmfade">
                        <div class="droopmenu-inner">
                            <div class="droopmenu-header">
                                <a href="#" class="droopmenu-toggle"><i class="dm-burg"></i></a>
                                <span class="d-md-none">منوی فروشگاه</span>
                            </div>
                            <!-- Header Mega Menu--> 
                            <div class="droopmenu-nav">
                                <div class="droopmenu-nav-wrap">
                                    <div class="droopmenu-navi">
                                        <ul class="droopmenu">
                                            @await Component.InvokeAsync("ProductsCategory")
                                            @await Component.InvokeAsync("Menus")

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /Header Menu Menu -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main NavBar -->
</section>

@section scripts {



    <script>
                $(document).ready(function(){
          $('#dropDown').click(function(event){
            $('.drop-down').toggleClass('drop-down--active');
            event.stopPropagation();
          });
          $(document).click(function(event) {
                if (!$(event.target).hasClass('drop-down--active')) {
                    $(".drop-down").removeClass("drop-down--active");
                }
            });
        });
    </script>
}