@page
@model NavinoShop.WebApplication.Areas.Admin.Pages.Post.EditModel

@{
    Layout = "_AdminLayout";
    ViewData["title"] = "ویرایش پست  ";

}
<div class="Formcontainer">

    <form id="Formcontainer" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="EditPost.Id" />

        <div class="col col-12 col-sm-12 ">

            <div class="custom-form-group">
                <label for="title" class="required">عنوان پست</label>
                <input asp-for="@Model.EditPost.Title" type="text" id="Title">
                <span asp-validation-for="EditPost.Title" class="text-danger"></span>
            </div>
        </div>
        <div class="col col-sm-12 col-12">

            <div class="custom-form-group">
                <label class="required" for="Status"> توضیحات تحویل</label>
                <textarea asp-for="EditPost.Status" id="Status"></textarea>
                <span asp-validation-for="EditPost.Status" class="text-danger"></span>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <div class="custom-form-group">
                    <label for="TehranPricePlus" class="required">اضافه بار هر کیلوگرم درون شهری تهران </label>
                    <input asp-for="EditPost.TehranPricePlus" type="text" placeholder="مبلغ به تومان">
                    <span asp-validation-for="EditPost.TehranPricePlus" id="TehranPricePlus" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="custom-form-group">
                    <label for="StateCenterPricePlus" class="required"> اضافه بار هر کیلوگرم درون شهری مراکز استان ها</label>
                    <input asp-for="EditPost.StateCenterPricePlus" type="text" placeholder="مبلغ به تومان" id="StateCenterPricePlus">
                    <span asp-validation-for="EditPost.StateCenterPricePlus" class="text-danger"></span>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <div class="custom-form-group">
                    <label for="CityPricePlus" class="required">اضافه بار هر کیلوگرم درون شهری شهرستان ها </label>
                    <input asp-for="EditPost.CityPricePlus" type="text" id="CityPricePlus" placeholder="مبلغ به تومان">
                    <span asp-validation-for="EditPost.CityPricePlus"  class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="custom-form-group">
                    <label for="InsideStatePricePlus" class="required"> ضافه بار هر کیلوگرم درون استانی</label>
                    <input asp-for="EditPost.InsideStatePricePlus" type="text" placeholder="مبلغ به تومان" id="InsideStatePricePlus">
                    <span asp-validation-for="EditPost.InsideStatePricePlus" class="text-danger"></span>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <div class="custom-form-group">
                    <label for="StateClosePricePlus" class="required">اضافه بار هر کیلوگرم برون استانی هم جوار  </label>
                    <input asp-for="EditPost.StateClosePricePlus" type="text" id="StateClosePricePlus" placeholder="مبلغ به تومان">
                    <span asp-validation-for="EditPost.StateClosePricePlus" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="custom-form-group">
                    <label for="StateNonClosePricePlus" class="required"> اضافه بار هر کیلوگرم برون استانی غیر هم جوار</label>
                    <input asp-for="EditPost.StateNonClosePricePlus" type="text" placeholder="مبلغ به تومان" id="StateNonClosePricePlus">
                    <span asp-validation-for="EditPost.StateNonClosePricePlus" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="col col-sm-12 col-12">

            <div class="custom-form-group">
                <label class="required" for="Description"> توضیحات </label>
                <textarea asp-for="EditPost.Description" id="Description"></textarea>
                <span asp-validation-for="EditPost.Description" class="text-danger"></span>
            </div>
        </div>

        <button type="submit" class="btn btn-success btn-block">ویرایش </button>

    </form>
</div>
