@using Shared.Application
@using Shared.Domain.Enums
@model Users.Application.Contract.UserService.Command.EditUserByUserCommand
@{
    ViewData["title"] = "ویرایش اطلاعات";
    var EditUserSuccess = ViewData["editProfileSuccess"] as string;
}


<div class="custom-container bg-light" id="profile-fields">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="AvatarName" />
        <div class="row pt-2 px-3">
            <div class="col-12"><h1>اطلاعات شخصی</h1></div>
        </div>
        <hr>
        <div class="image-upload-widget-area">
            <div class="image-upload-edit-section">
                <input asp-for="AvatarFile" type='file' id="imageUploadWidget" accept=".png, .jpg, .jpeg" />
                <label for="imageUploadWidget">
                    <i class="fa fa-edit"></i>
                </label>
            </div>
            <div class="image-upload-preview-section">
                <div id="imagePreviewWidget" class="image-preview-display" style="background-image: url(@FileDirectories.UserImageDirectory@Model.AvatarName);">
                </div>
            </div>
        </div>
        <hr />
        <div class="container">
            <div class="row">

                <div class="col-12 col-sm-6 profile-field py-2">
                    <div class="row">
                        <div class="col-10">
                            <div class="title">نام و نام خانوادگی</div>
                            <input asp-for="FullName" class="value" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 profile-field py-2">
                    <div class="row">
                        <div class="col-10">
                            <div class="title">شماره تلفن همراه</div>
                            <input asp-for="Mobile" class="value" />
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 profile-field py-2">
                    <div class="row">
                        <div class="col-10">
                            <div class="title">پست الکترونیک</div>
                            <input asp-for="Email" class="value" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 profile-field py-2">
                    <div class="row">
                        <div class="col-10">
                            <div class="title">جنسیت</div>
                            <select asp-for="UserGender">
                                @foreach (var item in Enum.GetValues(typeof(Gender)).Cast<Gender>())
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <div id="EditProfileBtn">
            <button type="submit" class="btn btn-sm btn-success">ویرایش</button>
        </div>
        <br />
    </form>
</div>
@section Scripts {
    <script>
                $(document).ready(function () {
            $('#imageUploadWidget').change(function () {
                readImageForWidget(this, 'imagePreviewWidget');
            });
        });

    </script>
    @if (EditUserSuccess != null)
    {
        <script>
            AlerSweetWithTimer('@EditUserSuccess','success','center');
        </script>

    }
}