@page
@model NavinoShop.WebApplication.Areas.Admin.Pages.Post.City.EditModel

@{
    Layout = "_AdminLayout";
    ViewData["title"] = "ویرایش استان  ";

}
<div class="Formcontainer">
@* 
    <form id="Formcontainer" method="post" enctype="multipart/form-data">

        <input type="hidden" asp-for="EditState.Id" />
        <div class="col col-12 col-sm-12 ">

            <div class="custom-form-group">
                <label for="title" class="required">عنوان پست</label>
                <input asp-for="@Model.EditState.Title" type="text" id="Title">
                <span asp-validation-for="EditState.Title" class="text-danger"></span>
            </div>
        </div>

        <button type="submit" class="btn btn-success btn-block">ویرایش </button>

    </form> *@
</div>
