@page
@model NavinoShop.WebApplication.Areas.Admin.Pages.BlogCategories.CreateModel

@{
    Layout = "_AdminLayout";
    ViewData["title"] = "ایجاد دسته بندی ";

}

<div class="Formcontainer">

    <form id="blogcontentForm" method="post" enctype="multipart/form-data">
        <div class="row">

            <div class="col col-md-6 col-12 col-sm-12 ">
          
                <div class="custom-form-group">
                    <label for="title" class="required">عنوان</label>
                    <input asp-for="@Model.createBlogCategory.Title" type="text" id="Title" onchange="makeSlug('Title','Slug')">
                    <span asp-validation-for="createBlogCategory.Title" class="text-danger"></span>
                </div>
            </div>
            <div class="col col-md-6 col-sm-12 col-12">
            
                <div class="custom-form-group">
                    <label class="required"> سربرگ</label>
                    <input asp-for="createBlogCategory.Slug" type="text" id="Slug">
                    <span asp-validation-for="createBlogCategory.Slug" class="text-danger"></span>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col">
                <div class="custom-form-group">
                    <label for="ImageAlt" class="required">Alt تصویر</label>
                    <input asp-for="createBlogCategory.ImageAlt" type="text" id="ImageAlt" readonly>
                    <span asp-validation-for="createBlogCategory.ImageAlt" class="text-danger"></span>
                </div>
            </div>
            <div class="col  col-sm-12 col-12">
                <div id="img-container">
                    <label for="upload-file">
                        <div class="picture-uploader" data-url="">
                            <div class="picture__image">Choose an image</div>

                            <input asp-for="@Model.createBlogCategory.ImageFile" type="file" id="upload-file" class="picture__input" accept="image/*" />
                        </div>
                    </label>




                </div>
                <span asp-validation-for="createBlogCategory.ImageFile" class="text-danger"></span>
            </div>
        </div>


     
        <button type="submit" class="btn btn-success btn-block">افزودن </button>

    </form>
</div>

