@page 
@model NavinoShop.WebApplication.Areas.Admin.Pages.Site.SitePage.CreateModel
@{
    Layout = "_AdminLayout";
    ViewData["title"] = "ایجاد صفحه  ";

}
<div class="Formcontainer">

        <div class="Formcontainer">


            <form method="post" enctype="multipart/form-data">

            <div class="col  col-12  ">
                <!-- عنوان -->
                <div class="custom-form-group">
                    <label for="title" class="required">عنوان</label>
                    <input asp-for="CreatesitePage.Title" type="text" id="Title" onchange="makeSlug('Title','Slug')">
                    <span asp-validation-for="CreatesitePage.Title" class="text-danger"></span>
                </div>
            </div>

                <div class="col col-12">
                
                    <div class="custom-form-group">
                        <label class="required"> سربرگ</label>
                        <input asp-for="CreatesitePage.Slug" type="text" id="Slug">
                        <span asp-validation-for="CreatesitePage.Slug" class="text-danger"></span>
                    </div>
                </div>

                <div class="col col-12  ">
                  
                    <div class="custom-form-group">
                        <label for="Text" class="required">توضیح مختصر</label>
                        <textarea asp-for="CreatesitePage.Text" id="Text"></textarea>
                        <span asp-validation-for="CreatesitePage.Text" class="text-danger"></span>
                    </div>
                </div>
                


                <button type="submit" class="btn btn-success btn-block">افزودن </button>

            </form>
        </div>
</div>


