@page 
@model NavinoShop.WebApplication.Areas.Admin.Pages.Site.SitePage.CreateModel
@{
    Layout = "_AdminLayout";
    ViewData["title"] = "ایجاد صفحه  ";

}
<div class="Formcontainer">

        <div class="Formcontainer">


            <form method="post" enctype="multipart/form-data">

            <div class="col  col-12  ">
                <!-- عنوان -->
                <div class="custom-form-group">
                    <label for="title" class="required">عنوان</label>
                    <input asp-for="CreatesitePage.Title" type="text" id="Title" onchange="makeSlug('Title','Slug')">
                    <span asp-validation-for="CreatesitePage.Title" class="text-danger"></span>
                </div>
            </div>

                <div class="col col-12">
                
                    <div class="custom-form-group">
                        <label class="required"> سربرگ</label>
                        <input asp-for="CreatesitePage.Slug" type="text" id="Slug">
                        <span asp-validation-for="CreatesitePage.Slug" class="text-danger"></span>
                    </div>
                </div>

                <div class="col col-12  ">

                <!-- توضیح کامل -->
                <div class="custom-form-group">
                    <label for="text" class="required">توضیح</label>
                    <textarea asp-for="CreatesitePage.Text" id="editor1" rows="10"
                              cols="80">این ویرایشگر راست چین و فارسی شده و تنظیمات آن به صورت اختصاصی تنظیم شده است...</textarea>
                    <span asp-validation-for="CreatesitePage.Text" class="text-danger"></span>
                </div>
                </div>
                


                <button type="submit" class="btn btn-success btn-block">افزودن </button>

            </form>
        </div>
</div>
@section scripts {

    <script>
               $(document).ready(function () {
                      CKEDITOR.replace('editor1');
        });

    </script>
}


