
svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

    /* Sizes */
    .svg-inline--fa.fa-lg {
        vertical-align: -.225em;
    }

    .svg-inline--fa.fa-w-1 {
        width: .0625em;
    }

    .svg-inline--fa.fa-w-2 {
        width: .125em;
    }

    .svg-inline--fa.fa-w-3 {
        width: .1875em;
    }

    .svg-inline--fa.fa-w-4 {
        width: .25em;
    }

    .svg-inline--fa.fa-w-5 {
        width: .3125em;
    }

    .svg-inline--fa.fa-w-6 {
        width: .375em;
    }

    .svg-inline--fa.fa-w-7 {
        width: .4375em;
    }

    .svg-inline--fa.fa-w-8 {
        width: .5em;
    }

    .svg-inline--fa.fa-w-9 {
        width: .5625em;
    }

    .svg-inline--fa.fa-w-10 {
        width: .625em;
    }

    .svg-inline--fa.fa-w-11 {
        width: .6875em;
    }

    .svg-inline--fa.fa-w-12 {
        width: .75em;
    }

    .svg-inline--fa.fa-w-13 {
        width: .8125em;
    }

    .svg-inline--fa.fa-w-14 {
        width: .875em;
    }

    .svg-inline--fa.fa-w-15 {
        width: .9375em;
    }

    .svg-inline--fa.fa-w-16 {
        width: 1em;
    }

    .svg-inline--fa.fa-w-17 {
        width: 1.0625em;
    }

    .svg-inline--fa.fa-w-18 {
        width: 1.125em;
    }

    .svg-inline--fa.fa-w-19 {
        width: 1.1875em;
    }

    .svg-inline--fa.fa-w-20 {
        width: 1.25em;
    }

    /* Pull left / right */
    .svg-inline--fa.fa-pull-left {
        margin-right: .3em;
        width: auto;
    }

    .svg-inline--fa.fa-pull-right {
        margin-left: .3em;
        width: auto;
    }

    .svg-inline--fa.fa-border {
        height: 1.5em;
    }

    .svg-inline--fa.fa-li {
        width: 2em;
    }

    .svg-inline--fa.fa-fw {
        width: 1.25em;
    }

/* Layer styles */
.fa-layers {
    display: inline-block;
    height: 1em;
    position: relative;
    text-align: center;
    vertical-align: -.125em;
    width: 1em;
}

    .fa-layers svg.svg-inline--fa {
        bottom: 0;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        transform-origin: center center;
    }

.fa-layers-counter,
.fa-layers-text {
    display: inline-block;
    position: absolute;
    text-align: center;
}

.fa-layers-text {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
}

.fa-layers-counter {
    background-color: #ff253a;
    border-radius: 1em;
    box-sizing: border-box;
    color: #fff;
    height: 1.5em;
    line-height: 1;
    max-width: 5em;
    min-width: 1.5em;
    overflow: hidden;
    padding: .25em;
    right: 0;
    text-overflow: ellipsis;
    top: 0;
    transform: scale(.25);
    transform-origin: top right;
}

/* Layer positions */
.fa-layers-bottom-right {
    bottom: 0;
    right: 0;
    transform: scale(.25);
    transform-origin: bottom right;
}

.fa-layers-bottom-left {
    bottom: 0;
    left: 0;
    transform: scale(.25);
    transform-origin: bottom left;
}

.fa-layers-top-right {
    right: 0;
    top: 0;
    transform: scale(.25);
    transform-origin: top right;
}

.fa-layers-top-left {
    left: 0;
    top: 0;
    transform: scale(.25);
    transform-origin: top left;
}

/* Font sizes */
.fa-lg {
    font-size: 1.3333em;
    line-height: .75em;
    vertical-align: -.0667em;
}

.fa-xs {
    font-size: .75em;
}

.fa-sm {
    font-size: .875em;
}

.fa-1x {
    font-size: 1em;
}

.fa-2x {
    font-size: 2em;
}

.fa-3x {
    font-size: 3em;
}

.fa-4x {
    font-size: 4em;
}

.fa-5x {
    font-size: 5em;
}

.fa-6x {
    font-size: 6em;
}

.fa-7x {
    font-size: 7em;
}

.fa-8x {
    font-size: 8em;
}

.fa-9x {
    font-size: 9em;
}

.fa-10x {
    font-size: 10em;
}

/* Alignment */
.fa-fw {
    text-align: center;
    width: 1.25em;
}

.fa-ul {
    list-style-type: none;
    margin-left: 2.5em;
    padding-left: 0;
}

    .fa-ul > li {
        position: relative;
    }

.fa-li {
    left: -2em;
    position: absolute;
    text-align: center;
    width: 2em;
    line-height: inherit;
}

/* Borders & Pull */
.fa-border {
    border: solid .08em #eee;
    border-radius: .1em;
    padding: .2em .25em .15em;
}

.fa-pull-left {
    float: left;
}

.fa-pull-right {
    float: right;
}

.fa.fa-pull-left,
.fab.fa-pull-left,
.fal.fa-pull-left,
.far.fa-pull-left,
.fas.fa-pull-left {
    margin-right: .3em;
}

.fa.fa-pull-right,
.fab.fa-pull-right,
.fal.fa-pull-right,
.far.fa-pull-right,
.fas.fa-pull-right {
    margin-left: .3em;
}

/* Animations */
.fa-spin {
    animation: fa-spin 2s infinite linear;
}

.fa-pulse {
    animation: fa-spin 1s infinite steps(8);
}

@keyframes fa-spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Rotations & Flips */
.fa-rotate-90 {
    transform: rotate(90deg);
}

.fa-rotate-180 {
    transform: rotate(180deg);
}

.fa-rotate-270 {
    transform: rotate(270deg);
}

.fa-flip-horizontal {
    transform: scale(-1,1);
}

.fa-flip-vertical {
    transform: scale(1,-1);
}

.fa-flip-both,
.fa-flip-horizontal.fa-flip-vertical {
    transform: scale(-1,-1);
}

:root .fa-flip-both,
:root .fa-flip-horizontal,
:root .fa-flip-vertical,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-rotate-90 {
    filter: none;
}

/* Stacks */
.fa-stack {
    display: inline-block;
    height: 2em;
    position: relative;
    width: 2.5em;
}

.fa-stack-1x,
.fa-stack-2x {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}

.svg-inline--fa.fa-stack-1x {
    height: 1em;
    width: 1.25em;
}

.svg-inline--fa.fa-stack-2x {
    height: 2em;
    width: 2.5em;
}

/* Inverse & Accessibility */
.fa-inverse {
    color: #fff;
}

.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* Duotone */
.svg-inline--fa .fa-primary {
    fill: var(--fa-primary-color, currentColor);
    opacity: var(--fa-primary-opacity, 1);
}

.svg-inline--fa .fa-secondary {
    fill: var(--fa-secondary-color, currentColor);
    opacity: var(--fa-secondary-opacity, .4);
}

.svg-inline--fa.fa-swap-opacity .fa-primary {
    opacity: var(--fa-secondary-opacity, .4);
}

.svg-inline--fa.fa-swap-opacity .fa-secondary {
    opacity: var(--fa-primary-opacity, 1);
}

.svg-inline--fa mask .fa-primary,
.svg-inline--fa mask .fa-secondary {
    fill: #000;
}

.fad.fa-inverse {
    color: #fff;
}

.user-menu {
    position: relative;
    display: inline-block;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.Authdropdown-menu {
    display: none;
    position: absolute;
    top: 45px;
    right: 0;
    background: #fff;
    border: 1px solid #ddd;
    min-width: 200px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    border-radius: 8px;
    padding: 8px 8px;
    z-index: 1000;
}

    .Authdropdown-menu.show {
        display: block;
    }

    .Authdropdown-menu a {
        display: block;
        padding: 10px 15px;
        color: #333;
        text-decoration: none;
    }

        .Authdropdown-menu a:hover {
            background: #f5eab3;
            border-radius: 10px;
        }

#btn-login-register {
    padding: 10px 30px;
    display: inline-block;
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 0px 2px #000, 2px 2px 0px 2px #fcb941;
    box-shadow: 0px 0px 0px 2px #000, 2px 2px 0px 2px #fcb941;
    text-decoration: none;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    cursor: pointer;
}

    #btn-login-register:hover {
        color: #282828;
        background-color: #fcb941;
        -webkit-box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px #fcb941;
        box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px #fcb941;
    }
/*Image Upload*/
#upload-file {
    display: none;
}
.picture-uploader {
    max-width: 400px;
    aspect-ratio: 16/9;
    background: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
}

.picture__image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.picture__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.picture__button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

    .picture__button:hover {
        background-color: #45a049;
    }

.picture__input {
    display: none; /* input مخفی می‌ماند */
}

#img-container {
    max-width: 400px;
    height: auto;
    padding: 5px;
    margin-bottom: 5px;

}

#imagebox {
    padding-right: 30px;

}

/*loader*/
:root {
    --main-color: #ecf0f1;
    --point-color: #f0ad4e;
    --size: 10px;
}

.loader {
    overflow: hidden;
    width: 100%;
    height: 90%;
    position: fixed;
    top: 10%;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 100000;
}

.loaderelement {
    border-radius: 100%;
    border: var(--size) solid var(--point-color);
    margin: calc(var(--size) * 2);
}

    .loaderelement:nth-child(1) {
        animation: preloader 0.6s ease-in-out alternate infinite;
    }

    .loaderelement:nth-child(2) {
        animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
    }

    .loaderelement:nth-child(3) {
        animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
    }

@keyframes preloader {
    100% {
        transform: scale(2);
    }
}

/* From Uiverse.io by Galahhad */
.switch {
    /* switch */
    --switch-width: 46px;
    --switch-height: 24px;
    --switch-bg: rgb(131, 131, 131);
    --switch-checked-bg: rgb(0, 218, 80);
    --switch-offset: calc((var(--switch-height) - var(--circle-diameter)) / 2);
    --switch-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
    /* circle */
    --circle-diameter: 18px;
    --circle-bg: #fff;
    --circle-shadow: 1px 1px 2px rgba(146, 146, 146, 0.45);
    --circle-checked-shadow: -1px 1px 2px rgba(163, 163, 163, 0.45);
    --circle-transition: var(--switch-transition);
    /* icon */
    --icon-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
    --icon-cross-color: var(--switch-bg);
    --icon-cross-size: 6px;
    --icon-checkmark-color: var(--switch-checked-bg);
    --icon-checkmark-size: 10px;
    /* effect line */
    --effect-width: calc(var(--circle-diameter) / 2);
    --effect-height: calc(var(--effect-width) / 2 - 1px);
    --effect-bg: var(--circle-bg);
    --effect-border-radius: 1px;
    --effect-transition: all .2s ease-in-out;
}

    .switch input {
        display: none;
    }

.switch {
    display: inline-block;
}

    .switch svg {
        -webkit-transition: var(--icon-transition);
        -o-transition: var(--icon-transition);
        transition: var(--icon-transition);
        position: absolute;
        height: auto;
    }

    .switch .checkmark {
        width: var(--icon-checkmark-size);
        color: var(--icon-checkmark-color);
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    .switch .cross {
        width: var(--icon-cross-size);
        color: var(--icon-cross-color);
    }

.slider {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-transition: var(--switch-transition);
    -o-transition: var(--switch-transition);
    transition: var(--switch-transition);
    cursor: pointer;
}

.circle {
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    background: var(--circle-bg);
    border-radius: inherit;
    -webkit-box-shadow: var(--circle-shadow);
    box-shadow: var(--circle-shadow);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: var(--circle-transition);
    -o-transition: var(--circle-transition);
    transition: var(--circle-transition);
    z-index: 1;
    position: absolute;
    left: var(--switch-offset);
}

.slider::before {
    content: "";
    position: absolute;
    width: var(--effect-width);
    height: var(--effect-height);
    left: calc(var(--switch-offset) + (var(--effect-width) / 2));
    background: var(--effect-bg);
    border-radius: var(--effect-border-radius);
    -webkit-transition: var(--effect-transition);
    -o-transition: var(--effect-transition);
    transition: var(--effect-transition);
}

/* actions */

.switch input:checked + .slider {
    background: var(--switch-checked-bg);
}

    .switch input:checked + .slider .checkmark {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    .switch input:checked + .slider .cross {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    .switch input:checked + .slider::before {
        left: calc(100% - var(--effect-width) - (var(--effect-width) / 2) - var(--switch-offset));
    }

    .switch input:checked + .slider .circle {
        left: calc(100% - var(--circle-diameter) - var(--switch-offset));
        -webkit-box-shadow: var(--circle-checked-shadow);
        box-shadow: var(--circle-checked-shadow);
    }