<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @RenderSection("Seo", false);
    <title>@ViewData["title"]</title>
    <partial name="_BlogCss">
</head>
<body class="bg-light style-default style-rounded">
    <div class="loader-mask" style="display: none;">
        <div class="loader" style="display: none;">
            <div></div>
        </div>
    </div>
    <div class="content-overlay"></div>
    <partial name="_BlogHeader">
        <partial name="_BlogSideBar">

            <main class="main oh" id="main">

                @RenderBody()

                <footer class="footer footer--light ">
                    <div class="container row m-auto ">
                        <p>
                            طراحی توسط:

                            <a href="#">علیرضا حسن لو</a>

                        </p>
                    </div>
                </footer>
                <div id="back-to-top" class="">
                    <a href="#top" aria-label="Go to top"><i class="ui-arrow-up"></i></a>
                </div>
            </main>
            <partial name="_BlogScripts" />
</body>
</html>
@RenderSection("scripts", false);