<!DOCTYPE html>


<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> کنترل پنل | @ViewData["title"] </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <partial name="_AdminCss" />
    <link href="
https://cdn.jsdelivr.net/npm/sweetalert2@11.22.5/dist/sweetalert2.min.css
" rel="stylesheet">

</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">


        <partial name="_AdminHeader" />

        <partial name="_SideBar" />

        <div class="content-wrapper">

            <section class="content-header">
                <h1>
                    @ViewData["title"]
                   
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> خانه</a></li>
                    <li class="active">صفحه</li>
                </ol>
            </section>


            <section class="content container-fluid">


                @RenderBody()


            </section>

            <div class="modal fade" id="modal-default" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content" id="modal-content">
                    </div>
                </div>
            </div>


        </div>
    </div>

    <partial name="_AdminScripts" />

    <partial name="_Loader" />
    @RenderSection("Scripts", false);

</body>

</html>


