@page 
@using Shared.Domain.Enums
@model NavinoShop.WebApplication.Areas.Admin.Pages.Site.Baners.CreateModel
@{
     Layout = "_AdminLayout";
    ViewData["title"] = "ایجاد بنز ";

}
<div class="Formcontainer">

    <form method="post" enctype="multipart/form-data">


        <div class="Formcontainer">


            <form method="post" enctype="multipart/form-data">
                <div class="row">
                <div class="col  col-md-6 col-sm-12 ">

                    <div class="custom-form-group">
                        <label for="Url" class="required">لینک مقصد</label>
                        <input asp-for="@Model.CreateBaner.Url" type="text" id="Url" ">
                        <span asp-validation-for="CreateBaner.Url" class="text-danger"></span>
                    </div>
                </div>
                    <div class="col  col-md-6 col-sm-12">
                    <div class="custom-form-group">
                        <label asp-for="CreateBaner.State" class="required">محل بنر</label>
                            <select asp-items="Html.GetEnumSelectList<BanerState>()" asp-for="CreateBaner.State">
                            <option value="0">محل بنر را انتخاب کنید</option>

                        </select>
                            <span asp-validation-for="CreateBaner.State" class="text-danger"></span>
                    </div>
                </div>
                </div>
                <div class="row">


                    <div class="col col-md-6 col-sm-12 col-12">

                        <div class="custom-form-group">
                            <label class="required" for="ImageAlt"> Alt تصویر</label>
                            <input asp-for="CreateBaner.ImageAlt" type="text" id="ImageAlt">
                            <span asp-validation-for="CreateBaner.ImageAlt" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col col-md-6 col-sm-12 col-12">
                        <div id="img-container">
                            <label for="upload-file">
                                <div class="picture-uploader" data-url="">
                                    <div class="picture__image">Choose an image</div>

                                    <input asp-for="@Model.CreateBaner.ImageFile" type="file" id="upload-file" class="picture__input" accept="image/*" />
                                </div>
                            </label>

                        </div>
                        <span asp-validation-for="CreateBaner.ImageFile" class="text-danger"></span>
                    </div>
                </div>
               
                <button type="submit" class="btn btn-success btn-block">افزودن </button>

            </form>
        </div>

    </form>
</div>


