@page
@using NavinoShop.WebApplication.Areas.Admin.Pages.Site.Baners
@using Shared.Application
@using Shared.Domain.Enums
@model NavinoShop.WebApplication.Areas.Admin.Pages.Site.Baners.EditModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "ویرایش پکیج";
}
<div class="Formcontainer">

    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="EditBaner.Id" />
        <div class="Formcontainer">
            <form method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col  col-md-6 col-sm-12 ">
                        <div class="custom-form-group">
                            <label for="Url" class="required">لینک مقصد</label>
                            <input asp-for="@Model.EditBaner.Url" type="text" id="Url" ">
                            <span asp-validation-for="EditBaner.Url" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col  col-md-6 col-sm-12">
                        <div class="custom-form-group">
                            <label asp-for="EditBaner.State" class="required">محل بنر</label>
                            <select asp-items="Html.GetEnumSelectList<BanerState>()" asp-for="EditBaner.State">
                                <option value="0">محل بنر را انتخاب کنید</option>

                            </select>
                            <span asp-validation-for="EditBaner.State" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-6 col-sm-12 col-12">

                        <div class="custom-form-group">
                            <label class="required" for="ImageAlt"> Alt تصویر</label>
                            <input asp-for="EditBaner.ImageAlt" type="text" id="ImageAlt">
                            <span asp-validation-for="EditBaner.ImageAlt" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col col-md-6 col-sm-12 col-12">
                        <div id="img-container">
                            <label for="upload-file">
                                <div class="picture-uploader" data-url="@Model.EditBaner.ImageName">
                                    <div class="picture__image">Choose an image</div>

                                    <input asp-for="@Model.EditBaner.ImageFile" type="file" id="upload-file" class="picture__input" accept="image/*" />
                                </div>
                            </label>

                        </div>
                        <span asp-validation-for="EditBaner.ImageFile" class="text-danger"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-block">ویرایش </button>
            </form>
        </div>

    </form>
</div>


