<div class="modal-body">
    <h4>افزودن انبار </h4>
    <form>
        <div class="col  col-12 ">
            <div class="custom-form-group">
                <label class="product-form-label">
                    فروشگاه <span class="required-star">*</span>
                </label>
                <select id="ShopSelect" style="width: 100%;">
                    <option value="0">انتخاب فروشگاه </option>
                </select>

                <div id="loadingSpinner" style="display: none; text-align: center;">
                    <i class="fa fa-spinner fa-spin"></i> در حال بارگذاری محصولات...

                </div>
            </div>
        </div>
        <div class="col  col-12 ">

            <div class="custom-form-group">
                <label for="ProcutSellStoreDescriptionWight" class="required">توضیحات</label>
                <textarea dir="rtl" class="product-form-control" type="text" id="StoreDescription"></textarea>
                <div class="product-form-validation" data-for="StoreDescription">لطفا توضیحات را وارد کنید</div>
            </div>
        </div>

        <span class="text-danger" id="Storevalidation"></span>
    </form>
</div>
<div class="modal-footer p-4">
    <button type="button" class="btn btn-default pull-left" onclick="close_Modal_Ajax()">خروج</button>
    <button type="button" class="btn btn-primary" onclick="CreateStore()">ذخیره</button>
</div>

<script>

    $(document).ready(function () {

        GetUsersShop();
    });
</script>