@using Shared.Domain.Enums
@model Query.Contract.UI.UserPanel.Wallet.WalletDetailQueryModel
@{
    Layout = "_PanelLayout";

}



<div class="wallet-card">
    <div class="wallet-header">
        <div class="wallet-label">
            <span class="icon-placeholder">💰</span> کیف پول من
        </div>
        <div class="balance-box">
            <div class="balance-title">
                <span>موجودی قابل برداشت</span>
                <span>تومان</span>
            </div>
            <div class="balance-amount">
                <span data-format="money" class="amount-number">@Model.Balance</span>
                <span class="amount-currency">تومان</span>
            </div>
        </div>
    </div>
    <div class="charge-btn-wrapper">
        <button class="charge-btn">
            <span class="icon-placeholder">➕</span>
            افزایش موجودی
        </button>
    </div>

    <!-- دوتا المنت مربعی: کال واریزی‌ها و کل مبالغ خرج شده -->
    <div class="stats-grid">
        <div class="stat-square">
            <div class="stat-icon">⬇️</div>
            <div class="stat-label">کل واریزی‌ها</div>
            <div data-format="money" style="font-size:0.8rem; color:#fcb941; margin-top: 8px; font-weight:600;">+@Model.TotalDeposits</div>
        </div>
        <div class="stat-square">
            <div class="stat-icon">⬆️</div>
            <div class="stat-label">کل خرج کرده</div>
            <div data-format="money" style="font-size:0.8rem; color:#c17a2b; margin-top: 8px; font-weight:600;">-@Model.TotalWithdrawals</div>
        </div>
    </div>

    <!-- پنج تراکنش آخر -->
    <div class="transactions-header">
        <div class="transactions-title">
            <span class="icon-placeholder">🕒</span> آخرین تراکنش‌ها
        </div>

    </div>
        <div class="transactions-list">
        </div>
    
    <div id="LoadMore">
    </div>

</div>
@section scripts {
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            LoadWalletTransactions(0);
        });
    </script>
}