@using Shop.Application.Contract.ProductCategory.Query
@model List<CategoryTreeItem>
<button type="button" onclick="resetAllFilters()" class="btn btn-sm btn-secondary mb-2">  پاکردن همه فیلتر ها</button>
<div class="accordion filters-container">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                گروه های محصولات
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
            <div class="accordion-body">
                <div class="category-tree">
                    @foreach (var category in Model.Where(c => c.ParentId == 0))
                    {
                        @await Html.PartialAsync("_CategoryTreeNodePartial", category)
                    }
                </div>
            </div>
        </div>
    </div>
</div>