@page
@using Blogs.Application.Contract.BlogCategoryService.Query
@model NavinoShop.WebApplication.Areas.Admin.Pages.Blogs.CreateModel
@{
    Layout = "_AdminLayout";
    ViewData["title"] = "ایجاد مقاله جدید ";
    var categories = ViewData["Categories"] as List<SelectListItem>;
}
<link href="~/assets/css/CreationForm.css" rel="stylesheet" />
<div class="Blogcontainer">

    <form id="blogcontentForm" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="CreateBlog.UserId" />
        <div class="row">

            <div class="col col-md-6 col-12 col-sm-12 ">
                <!-- عنوان -->
                <div class="blogform-group">
                    <label for="title" class="required">عنوان</label>
                    <input asp-for="@Model.CreateBlog.Title" type="text" id="Title" onchange="makeSlug('Title','Slug')">
                    <span asp-validation-for="CreateBlog.Title" class="text-danger"></span>
                </div>
            </div>
            <div class="col col-md-6 col-sm-12 col-12">
                <!-- لینک سربرگ -->
                <div class="blogform-group">
                    <label class="required"> سربرگ</label>
                    <input asp-for="CreateBlog.Slug" type="text" id="Slug" >
                    <span asp-validation-for="CreateBlog.Slug" class="text-danger"></span>
                </div>
            </div>
        </div>


        <div class="col col-12 col-sm-12 ">
            <!-- توضیح مختصر -->
            <div class="blogform-group">
                <label for="shortDescription" class="required">توضیح مختصر</label>
                <textarea asp-for="CreateBlog.ShortDescription" id="shortDescription" ></textarea>
                <span asp-validation-for="CreateBlog.ShortDescription" class="text-danger"></span>
            </div>
        </div>

        <!-- توضیح کامل -->
        <div class="blogform-group">
            <label for="text" class="required">توضیح</label>
            <textarea asp-for ="CreateBlog.Text" id="editor1" rows="10"
                      cols="80">این ویرایشگر راست چین و فارسی شده و تنظیمات آن به صورت اختصاصی تنظیم شده است...</textarea>
            <span asp-validation-for="CreateBlog.Text" class="text-danger"></span>
        </div>


        <div class="row">
            <div class="col">
                <div class="blogform-group">
                    <label for="writer" class="required">نویسنده</label>
                    <input asp-for="CreateBlog.Writer" type="text" id="writer" readonly  >
                    <span asp-validation-for="CreateBlog.Writer" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="blogform-group">
                    <label for="imageAlt" class="required">Alt تصویر</label>
                    <input asp-for="CreateBlog.ImageAlt" type="text" id="imageAlt"  >
                    <span asp-validation-for="CreateBlog.ImageAlt" class="text-danger"></span>
                </div>
            </div>
        </div>

        <!-- ردیف برای گروه‌ها -->
        <div class="row">
            <div class="col">
                <div class="blogform-group">
                    <label asp-for="CreateBlog.CategoryId" class="required">سر گروه</label>
                    <select asp-items="@categories" id="categoryId" asp-for="CreateBlog.CategoryId" >
                        <option value="0">سرگروه را انتخاب کنید</option>
                    
                    </select>
                    <span asp-validation-for="CreateBlog.CategoryId" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="blogform-group">
                    <label asp-for="CreateBlog.SubCategoryId"  class="required">زیرگروه</label>
                    <select id="subCategoryId" asp-for="CreateBlog.SubCategoryId" >
                        <option value="0">ابتدا سر گروه را انتخاب کنید</option>
                    
                    </select>

                    <span asp-validation-for="CreateBlog.SubCategoryId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col  col-sm-12 col-12">
            <div id="img-container">
                <label for="upload-file">
                    <div class="picture-uploader" data-url="">
                        <div class="picture__image">Choose an image</div>

                        <input asp-for="@Model.CreateBlog.ImageFile" type="file" id="upload-file" class="picture__input" accept="image/*" />
                    </div>
                </label>




            </div>
            <span asp-validation-for="CreateBlog.ImageFile" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success btn-block">افزودن </button>

    </form>
</div>
@section scripts {

    <script>
               $(document).ready(function () {
                      CKEDITOR.replace('editor1');
        });

    </script>
}

